<%- include('../bases/header', {title: "Game"}); %>

<body>
  <h4 class="gh">Game:</h4>
  <p class="gp">
    <a href="https://astounding-selkie-446fb1.netlify.app/"
      >Triforce (Click Here to Play)</a
    >
  </p>
</body>
