<%- include('../bases/header', {title:"Product"}) %>
<body>
  <section id="product-page">
    <div>name:</div>
    <div><%= products[0].name %></div>
    <div>Description:</div>
    <div><%= products[0].description %></div>
    <div>Price:</div>
    <div><%= products[0].price %></div>
  </section>
</body>
