<%- include('../bases/header', {title: "Home"}); %>

<head>
  <title><%= title %></title>
  <link rel="stylesheet" herf="/stylesheets/style.css" />
</head>
<body>
  <h1><%= title %></h1>
  <p>Welcome to the paradise</p>
</body>
