<%- include('../bases/header', {title: "Home"}); %>

<head>
  <title><%= title %></title>
  <link rel="stylesheet" herf="/stylesheets/style.css" />
</head>
<body class="hm">
  <h1>Welcome to the Paradise</h1>
  <p>
    Welcome to Weekend Escape, a cocktail bar started by likeminded people with
    a common goal – elevate the Canadian cocktail scene.
  </p>
  <p>
    Our philosophy is simple: Source quality natural ingredients, enhance them
    through fermentation and create memorable cocktails for our guests.
  </p>
</body>
